<?xml version="1.0"?>
<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <rosparam file="$(find scout_navigation)/config/move_base.yaml" command="load"/>
    <rosparam file="$(find scout_navigation)/config/teb_local_planner.yaml" command="load"/>

    <rosparam file="$(find scout_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find scout_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap"/>
    
    <rosparam file="$(find scout_navigation)/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find scout_navigation)/config/global_costmap.yaml" command="load" />

    <remap from="cmd_vel" to="/move_base/cmd_vel"/>
    <remap from="odom" to="/scout_base_controller/odom"/>
  </node>

</launch>
