<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="scout_v2"/>  <!-- scout_v1, scout_v2 -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find scout_description)/launch/description.launch">
    <arg name="robot_name" default="$(arg robot_name)"/> 
  </include>

  <!-- Spawn the scout in gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" output="screen" 
        args="-unpause -urdf -model scout -param robot_description"/>

  <!-- Load the scout base controllers -->
  <rosparam file="$(find scout_gazebo)/config/$(arg robot_name).yaml" command="load"/>

  <node pkg="controller_manager" type="spawner" name="controller_spawner" output="screen" 
        args="scout_base_controller scout_joint_state_controller"/>

</launch>